<div class="alert alert-warning text-center">
    <h3><i class="fas fa-exclamation-triangle"></i> Запрошенный документ не найден.</h3>
    Попробуйте начать с <a class="text-primary" routerLink="/">главной</a> страницы.
</div>
