<div class="alert alert-warning text-center">
    <h3><i class="fas fa-exclamation-triangle"></i> Произошла внутренняя ошибка сервера.</h3>
    Попробуйте начать с <a class="text-primary" routerLink="/">главной</a> страницы.
</div>
