<div class="m-2">
    <span class="h4 font-weight-bold">Группы производителей</span>
    <div class="float-right pt-1">
        <a href (click)="openManageGroupModal(manageGroupTemplate)"
           tooltip="Создать группу" placement="left" container="body">
            <i class="fas fa-plus-square fa-lg"></i>
        </a>
    </div>    
</div>
<table *ngIf="groups && groups.length > 0; else notFound" class="common-table text-center">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Производители</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let group of groups">
            <td>{{group.name}}</td>
            <td class="w-75">
                {{group.manufacturerNames}}
            </td>
            <td>
                <a href class="mr-1" (click)="openManageGroupModal(manageGroupTemplate, group.id);"
                   tooltip="Редактировать группу" placement="left" container="body">
                    <i class="far fa-edit"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #notFound>
    <app-empty-grid-message message="Группы производителей не найдены."></app-empty-grid-message>  
</ng-template>
    