<div class="bg-secondary m-2 rounded-top">
    <div class="p-2">
        <span class="h3 font-weight-bold">Панель управления корневым сервером</span>
        <div class="float-right pt-2">
            <i class="fas fa-user-cog"></i>
            {{currentUser?.certCN}}
        </div>
    </div>
    <app-navbar></app-navbar>
    <div class="content mt-2" role="main">
        <router-outlet></router-outlet>
    </div>
    <footer>
        &copy; Raven
    </footer>
</div>
