<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand pt-1" routerLink="/"
       tooltip="Главная" placement="top" container="body">
        <i class="fas fa-home"></i>
    </a>
    <button type="button" class="navbar-toggler"
            (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-label="Навигация">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]=isCollapsed>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/clients">
                    <i class="fas fa-users"></i> Клиенты
                </a>
            </li>
            <li class="nav-item">
                <div class="btn-group" dropdown>
                    <a id="dataLink" dropdownToggle
                       class="nav-link dropdown-toggle" aria-controls="dataDropdown">
                        <i class="fas fa-database"></i> Данные <span class="caret"></span>
                    </a>
                    <ul id="dataDropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="dataLink">
                        <li role="menuitem">
                            <a class="dropdown-item" routerLink="/manufacturer-groups">Группы производителей</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item" routerLink="/manufacturers">Производители</a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem">
                            <a class="dropdown-item" routerLink="/part-numbers">Артикулы</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/admins">
                    <i class="fas fa-users-cog"></i> Администраторы
                </a>
            </li>
        </ul>
    </div>
</nav>