@font-face {
    font-family: 'Exo 2', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic");
}

/* fontawesome configuration */
$fa-font-path: '../node_modules/@fontawesome/fontawesome/webfonts';

/* bootstrap font overrides */
$font-size-base: 0.88rem;
$font-family-base: 'Exo 2', sans-serif;

/* bootstrap size overrides */
$line-height-base: 1.4;

/* colors taken from mdbootstrap palette */
$indigo-lighten-5: #e8eaf6;
$indigo-lighten-4: #c5cae9;
$indigo-lighten-3: #9fa8da;
$indigo-lighten-2: #7986cb;
$indigo-lighten-1: #5c6bc0;
$indigo-darken-4: #1a237e;
$grey-lighten-4: #f5f5f5;
$orange-darken-2: #f57c00;
$orange-darken-4: #e65100;
$white: #ffffff;

/* bootstrap color overrides */
$primary: $indigo-lighten-1;
$secondary: $grey-lighten-4;
$info: $indigo-lighten-3;
$warning: $orange-darken-2;
$danger: $orange-darken-4;
$close-color: $secondary;

/* bootstrap tooltip overrides */
$tooltip-font-size: $font-size-base * 0.9;
$tooltip-bg: $indigo-darken-4;

/* bootstrap navbar overrides */
$navbar-dark-color: $indigo-lighten-5;
$navbar-dark-hover-color: $white;

/* bootstrap modal overrides */
$modal-header-padding-y: 0.2rem;
$modal-inner-padding: 0.5rem;

/* bootstrap input and buttons overrides */
$input-btn-focus-width: 0rem;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;

/* ngx datepicker overrides */
$theme-dark-blue: $primary;

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/@fontawesome/fontawesome/scss/fontawesome';
@import '../node_modules/@fontawesome/fontawesome/scss/solid';
@import '../node_modules/@fontawesome/fontawesome/scss/regular';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker';

/* ng select overrides */
$ng-select-highlight: $input-focus-border-color;
$ng-select-box-shadow: $input-focus-box-shadow;
$ng-select-placeholder: $input-placeholder-color;
@import "../node_modules/@ng-select/ng-select/scss/default.theme";

/* pretty checkbox overrides */
$pretty--color-primary: $primary;
$pretty--color-info: $info;
@import '../node_modules/pretty-checkbox/src/pretty-checkbox.scss';

/* bootstrap classes overrides */
.nav-link {
    cursor: pointer;
}

.dropdown-item {
    line-height: $line-height-base * 0.9 !important;
    &:hover{
        background-color: $indigo-lighten-5;
    };
    &:active{
        background-color: $indigo-lighten-4 !important;
    }
}

.modal-header {
    @extend .rounded-top;
    align-items: center;
    background-color: $primary;
    color: $secondary;
}

.modal-body {
    @extend .rounded-bottom;
    background-color: $secondary;
}

.close:focus, .close:active {
    outline: none !important;
}

.ng-option {
    padding: 3px 12px !important;
}

.ng-option-marked {
    background-color: $indigo-lighten-5 !important;
}

.ng-value-container {
    padding-left: 12px !important;
}

/* own classes */
footer {
    @extend .text-white, .text-center, .rounded-bottom;
    line-height: $line-height-base * 1.3;
    background-color: $primary
}

.invalid-data {
    border: 1px solid $danger !important;
}

table.common-table {
    @extend .table, .table-bordered, .table-hover, .table-sm;
    >thead {
        background-color: $indigo-lighten-3;
        >tr {
            >th {
                vertical-align: middle;
            }    
        }
    }
    >tbody {
        background-color: $indigo-lighten-5;
        >tr {
            &:hover {
                background-color: $indigo-lighten-4;
            }
        }
    }
}

.alert-compact {
    padding: 0rem 0rem !important;
}

.form-nowrap {
    white-space: nowrap;
    display: flex;
}

.btn-calendar {
    margin-bottom: 2px;
}

div.alert {
    >ul {
        @extend .my-2;
        padding-inline-start: 30px !important;
        >li {
            @extend .text-danger;
            line-height: 1.2;
        }
    }
}

textarea {
    resize: none;
}

ng-select.page-size-selector {
    &.ng-select-single {
        .ng-select-container {
            height: 28px !important;
            min-height: 28px !important;
        }
    }
}
