<div class="alert alert-warning text-center">
    <h3><i class="fas fa-exclamation-triangle"></i> Сервер недоступен.</h3>
    Запрос не может быть обработан из за отсутствия сетевого
    соединения или сервер не отвечает на запрос.
    Попробуйте начать с <a class="text-primary" routerLink="/">главной</a> страницы через несколько минут.
</div>
