<div class="m-2">
    <span class="h4 font-weight-bold">Администраторы</span>
    <div class="float-right pt-1">
        <a href (click)="openManageAdminModal(manageAdminTemplate)"
            tooltip="Добавить администратора" placement="left" container="body">
            <i class="fas fa-user-plus"></i>
        </a>
    </div>
</div>
<table class="common-table text-center">
    <thead>
        <tr>
            <th>Логин</th>
            <th>Активный</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let admin of admins">
            <td>{{admin.certCN}}</td>
            <td>
                <p-checkbox shape="curve" class="mb-2" disabled="true" [(checked)]="admin.active">
                    <p-toggle type="on" color="primary">
                        <i p-icon class="far fa-check"></i>
                    </p-toggle>
                    <p-toggle type="off" color="info">
                        <i p-icon class="far fa-times"></i>
                    </p-toggle>
                </p-checkbox>
            </td>
            <td class="text-nowrap">
                <a href class="mr-1" (click)="openManageAdminModal(manageAdminTemplate, admin.id);"
                   tooltip="Редактировать администратора" placement="left" container="body">
                    <i class="far fa-user-edit"></i>
                </a>
                <a href (click)="getAdminPkcs12(admin.id)" class="ml-1"
                   class="{{admin.active ? '' : 'btn-link disabled'}}"
                   tooltip="Сертификат" placement="left" container="body">
                    <i class="far fa-file-certificate"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #generatePkcs12Template>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Подождите</h5>
    </div>
    <div class="modal-body text-center">
        <p>Идет создание закрытого ключа и сертификата администратора.</p>
        <progressbar [value]="pkcs12Progress" [striped]="true" [animate]="true">
            <span class="text-nowrap text-center">{{pkcs12Progress}}% / 100 %</span>
        </progressbar>
    </div>
</ng-template>

<ng-template #missingAdminTemplate>
    <div class="modal-header">
        <h5 class="modal-title pull-left"><i class="fas fa-exclamation-triangle mr-1"></i>Ошибка</h5>
        <button type="button" class="close pull-right"
                aria-label="Закрыть" (click)="missingAdminModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>Администратор не найден</p>
        <p>
            <button type="button" class="btn btn-primary ml-1" (focus)="missingAdminModalRef.hide()">Закрыть</button>
        </p>
    </div>
</ng-template>

<ng-template #manageAdminTemplate>
    <div class="modal-header">
        <h5 class="modal-title pull-left">
            <ng-container *ngIf="admin.id; then editAdmin; else addAdmin"></ng-container>
            <ng-template #editAdmin>Редактирование администратора</ng-template>
            <ng-template #addAdmin>Добавление администратора</ng-template>
        </h5>
        <button type="button" class="close pull-right"
                aria-label="Закрыть" (click)="manageAdminModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #adminForm="ngForm" (ngSubmit)="adminForm.form.valid && saveAdmin(adminForm)" novalidate>
            <div class="form-group mx-2">
                <app-form-errors [form]="adminForm" [objectName]="'user'"></app-form-errors>
                <table class="w-100">
                    <tr>
                        <td class="text-nowrap pr-2 align-bottom">
                            <label for="certCN">Логин</label>
                        </td>
                        <td class="w-100">
                            <input type="text" class="form-control" id="certCN" name="certCN"
                                    [(ngModel)]="admin.certCN" #certCN="ngModel" required maxlength="128" not-empty
                                    [app-cert-cn]="admin.id" app-cert-cn-type="user"
                                    [ngModelOptions]="{ updateOn: 'blur' }"
                                    [ngClass]="controlCssClass(adminForm, certCN)" autocomplete="off">
                        </td>
                    </tr>
                    <tr *ngIf="admin.id">
                        <td class="pr-2 pt-2 align-bottom">
                            <label>Активный</label>
                        </td>
                        <td>
                            <p-checkbox isSwitch="true" stroke="fill" color="primary" class="mb-1"
                                        [(checked)]="admin.active" (change)="admin.active = !admin.active"></p-checkbox>
                        </td>
                    </tr>
                </table>
            </div>

            <p class="text-center">
                <button type="submit" class="btn btn-primary mr-1">Сохранить</button>
                <button type="button" class="btn btn-primary ml-1" (focus)="manageAdminModalRef.hide()">Отмена</button>
            </p>
        </form>
    </div>
</ng-template>
