<div class="m-2">
    <span class="h4 font-weight-bold">Клиенты</span>
    <div class="float-right pt-1">
        <a href (click)="openManageClientModal(manageClientTemplate)"
           tooltip="Добавить клиента" placement="left" container="body">
            <i class="fas fa-user-plus"></i>
        </a>
    </div>
</div>
<table *ngIf="clients && clients.length > 0; else clientsNotFound" class="common-table text-center">
    <thead>
        <tr>
            <th rowspan="2">Логин</th>
            <th rowspan="2">Организация</th>
            <th colspan="2">Контактное лицо</th>
            <th rowspan="2">E-mail для оповещений</th>
            <th rowspan="2">Баланс</th>
            <th rowspan="2">Оплаченный срок</th>
            <th rowspan="2"></th>
        </tr>
        <tr>
            <th>ФИО</th>
            <th>Телефон</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
            <td>{{client.certCN}}</td>
            <td>{{client.organizationName}}</td>
            <td>{{client.contactPersonFullName}}</td>
            <td>{{client.contactPersonPhone}}</td>
            <td>{{client.notificationEmail}}</td>
            <td>{{client.balance | currency:'RUB':'symbol':'1.2-2':'ru'}}</td>
            <td>{{client.paidTill | date:'dd.MM.yyyy'}}</td>
            <td class="text-nowrap">
                <a href class="mr-1" (click)="openManageClientModal(manageClientTemplate, client.id);"
                   tooltip="Редактировать клиента" placement="left" container="body">
                    <i class="far fa-user-edit"></i>
                </a>
                <a href class="ml-1 mr-1" (click)="openEditClientBalanceModal(editClientBalanceTemplate, client.id);"
                   tooltip="Редактировать баланс" placement="left" container="body">
                   <i class="far fa-credit-card-front"></i>
                </a>
                <a href class="ml-1 mr-1" (click)="openViewClientFinancialOperationsModal(viewClientFinancialOperationsTemplate, client.id);"
                   tooltip="Финансовый отчет" placement="left" container="body">
                    <i class="fas fa-analytics"></i>
                </a>
                <a href (click)="getClientPkcs12(client.id)" class="ml-1"
                   tooltip="Сертификат" placement="left" container="body">
                    <i class="far fa-file-certificate"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #clientsNotFound>
    <app-empty-grid-message message="Клиенты не найдены."></app-empty-grid-message>  
</ng-template>

<ng-template #generatePkcs12Template>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Подождите</h5>
    </div>
    <div class="modal-body text-center">
        <p>Идет создание закрытого ключа и сертификата клиента.</p>
        <progressbar [value]="pkcs12Progress" [striped]="true" [animate]="true">
            <span class="text-nowrap text-center">{{pkcs12Progress}}% / 100 %</span>
        </progressbar>
    </div>
</ng-template>

<ng-template #missingClientTemplate>
    <div class="modal-header">
        <h5 class="modal-title pull-left"><i class="fas fa-exclamation-triangle mr-1"></i>Ошибка</h5>
        <button type="button" class="close pull-right"
                aria-label="Закрыть" (click)="missingClientModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>Клиент не найден</p>
        <p>
            <button type="button" class="btn btn-primary ml-1" (focus)="missingClientModalRef.hide()">Закрыть</button>
        </p>
    </div>
</ng-template>

<ng-template #manageClientTemplate>
    <div class="modal-header">
        <h5 class="modal-title pull-left">
            <ng-container *ngIf="client.id; then editClient; else addClient"></ng-container>
            <ng-template #editClient>Редактирование клиента</ng-template>
            <ng-template #addClient>Добавление клиента</ng-template>
        </h5>
        <button type="button" class="close pull-right"
                aria-label="Закрыть" (click)="manageClientModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #clientForm="ngForm" (ngSubmit)="clientForm.form.valid && saveClient(clientForm)" novalidate>
            <div class="form-group mx-2">
                <app-form-errors [form]="clientForm" [objectName]="'client'"></app-form-errors>
                <table class="w-100">
                    <tr>
                        <td class="text-nowrap pr-2 align-bottom">
                            <label for="certCN">Логин <span class="text-danger">*</span></label>
                        </td>
                        <td class="w-100">
                            <input type="text" class="form-control" id="certCN" name="certCN"
                                   [(ngModel)]="client.certCN" #certCN="ngModel" required maxlength="128"
                                   pattern="\b((?=[a-z0-9-]{1,63}\.)(xn--)?[a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,63}\b"
                                   [app-cert-cn]="client.id" app-cert-cn-type="client"
                                   [ngModelOptions]="{ updateOn: 'blur' }"
                                   [ngClass]="controlCssClass(clientForm, certCN)" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap pr-2 align-bottom">
                            <label for="organizationName">Организация</label>
                        </td>
                        <td class="pt-1">
                            <input type="text" class="form-control" id="organizationName" name="organizationName"
                                   [(ngModel)]="client.organizationName" #organizationName="ngModel" maxlength="128" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap pr-2 align-bottom">
                            <label for="contactPersonFullName">ФИО контактного лица</label>
                        </td>
                        <td class="pt-1">
                            <input type="text" class="form-control" id="contactPersonFullName" name="contactPersonFullName"
                                    [(ngModel)]="client.contactPersonFullName" #contactPersonFullName="ngModel" maxlength="128" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap pr-2 align-bottom">
                            <label for="contactPersonPhone">Телефон контактного лица</label>
                        </td>
                        <td class="pt-1">
                            <input type="text" class="form-control" id="contactPersonPhone" name="contactPersonPhone"
                                    [(ngModel)]="client.contactPersonPhone" #contactPersonPhone="ngModel" maxlength="18"
                                    [cleave]="{numericOnly: true, delimiters: ['+7 (', ') ', '-', '-'], blocks: [0, 3, 3, 2, 2]}"
                                    placeholder="+7 (xxx) xxx-xx-xx" [ngModelOptions]="{ updateOn: 'blur' }"
                                    pattern="\+7 \([\d]{3}\) [\d]{3}-[\d]{2}-[\d]{2}"
                                    [ngClass]="controlCssClass(clientForm, contactPersonPhone)" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap pr-2 align-bottom">
                            <label for="notificationEmail">E-mail для оповещений</label>
                        </td>
                        <td class="pt-1">
                            <input type="email" class="form-control" id="notificationEmail" name="notificationEmail"
                                    [(ngModel)]="client.notificationEmail" #notificationEmail="ngModel" maxlength="128" email
                                    [ngModelOptions]="{ updateOn: 'blur' }"
                                    [ngClass]="controlCssClass(clientForm, notificationEmail)" autocomplete="off">
                        </td>
                    </tr>
                </table>
            </div>

            <p class="text-center">
                <button type="submit" class="btn btn-primary mr-1">Сохранить</button>
                <button type="button" class="btn btn-primary ml-1" (focus)="manageClientModalRef.hide()">Отмена</button>
            </p>
            <div class="text-center mx-2 mb-1">
                <em>
                    В качестве логина необходимо указать доменное имя,
                    с которого клиент будет обращаться к корневому серверу (CN сертификата).
                </em>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #editClientBalanceTemplate>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Редактирование баланса клиента {{client.certCN}}</h5>
        <button type="button" class="close pull-right"
                aria-label="Закрыть" (click)="editClientBalanceModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #clientBalanceForm="ngForm" (ngSubmit)="clientBalanceForm.form.valid && updateClientBalance(clientBalanceForm)" novalidate>
            <div class="form-group mx-2">
                <app-form-errors [form]="clientBalanceForm" [objectName]="'financialOperationLog'"></app-form-errors>
                <table>
                    <tr>
                        <td class="text-nowrap pr-2 col-form-label">
                            Текущий баланс
                        </td>
                        <td class="w-100">
                            {{client.balance | currency:'RUB':'symbol':'1.2-2':'ru'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap pr-2 align-bottom">
                            <label for="balanceChange">Изменить на сумму <span class="text-danger">*</span></label>
                        </td>
                        <td class="pt-1">
                            <input type="text" class="form-control" id="balanceChange" name="balanceChange"
                                   [(ngModel)]="financialOperationLog.balanceChange" #balanceChange="ngModel"
                                   [cleave]="{numeral: true, numeralDecimalMark: '.', delimiter: ' ', numeralPositiveOnly: true}"
                                   [ngModelOptions]="{ updateOn: 'blur' }" required [min]="0.01"
                                   [ngClass]="controlCssClass(clientBalanceForm, balanceChange)" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap pr-2 align-bottom">
                            <label for="paidTill">Оплаченный срок <span class="text-danger">*</span></label>
                        </td>
                        <td class="pt-1 form-nowrap">
                            <input type="text" class="form-control mr-1" id="paidTill" name="paidTill"
                                   [(ngModel)]="financialOperationLog.paidTill" #paidTill="ngModel" bsDatepicker #paidTillDp="bsDatepicker"
                                   [bsConfig]="{dateInputFormat: 'DD.MM.YYYY', isAnimated: true, containerClass: 'theme-dark-blue', showWeekNumbers: false}"
                                   readonly value="{{financialOperationLog.paidTill | date: 'dd.MM.yyyy'}}"
                                   [ngModelOptions]="{ updateOn: 'blur' }" required
                                   [ngClass]="controlCssClass(clientBalanceForm, paidTill)">
                            <button type="button" class="btn btn-primary btn-sm btn-calendar" (click)="paidTillDp.show()">
                                <i class="far fa-calendar-alt fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap pr-2 align-bottom">
                            <label for="operationType">Тип операции<span class="text-danger">*</span></label>
                        </td>
                        <td class="pt-1">
                            <ng-select id="operationType" name="operationType" placeholder="Выберите операцию"
                                       [(ngModel)]="financialOperationLog.operationType" #operationType="ngModel"
                                       [items]="financialOperationTypes" bindValue="" bindLabel="name" required
                                       [ngClass]="controlCssClass(clientBalanceForm, operationType)" [searchable]="false">
                            </ng-select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="reason">Причина<span class="text-danger" *ngIf="financialOperationLog.operationType?.reasonRequired">*</span></label>
                        </td>
                        <td>
                            <textarea id="reason" name="reason" class="form-control mt-1"
                                      [(ngModel)]="financialOperationLog.reason" #reason="ngModel"
                                      rows="2" maxlength="256" [app-conditional-required]="financialOperationLog.operationType?.reasonRequired"
                                      [ngClass]="controlCssClass(clientBalanceForm, reason)"
                                      [ngModelOptions]="{ updateOn: 'blur' }">
                            </textarea>
                        </td>
                </table>
            </div>

            <p class="text-center">
                <button type="submit" class="btn btn-primary mr-1">Сохранить</button>
                <button type="button" class="btn btn-primary ml-1" (focus)="editClientBalanceModalRef.hide()">Отмена</button>
            </p>
        </form>
    </div>
</ng-template>

<ng-template #viewClientFinancialOperationsTemplate>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Финансовый отчет по клиенту {{client.certCN}}</h5>
        <button type="button" class="close pull-right"
                aria-label="Закрыть" (click)="viewClientFinancialOperationsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="mb-2" *ngIf="financialOperationsPage.total > 0">
            <tr>
                <td class="text-left text-nowrap">Всего операций: {{financialOperationsPage.total | number:'1.0-0':'ru'}}</td>
                <td class="text-right w-100 pr-1">Записей на странице:</td>
                <td class="pl-1">
                    <ng-select [(ngModel)]="financialOperationPageSize" [items]="financialOperationPageSizes"
                               [searchable]="false" [clearable]="false" (change)="selectFinancialOperationsPageSize($event)"
                               class="page-size-selector">
                    </ng-select>
                </td>
            </tr>
        </table>
        <table *ngIf="financialOperationsPage.total > 0; else operationsNotFound" class="common-table text-center">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Баланс</th>
                    <th>Тип операции</th>
                    <th>Причина</th>
                    <th>Инициатор</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fol of financialOperationsPage.data">
                    <td class="text-nowrap">{{fol.executionDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
                    <td class="text-right text-nowrap">{{fol.balanceChange | currency:'RUB':'symbol':'1.2-2':'ru'}}</td>
                    <td class="text-right text-nowrap">{{fol.balance | currency:'RUB':'symbol':'1.2-2':'ru'}}</td>
                    <td class="text-nowrap">{{fol.operationType.name}}</td>
                    <td class="w-100">{{fol.reason}}</td>
                    <td>{{fol.performer.certCN}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="financialOperationsPage.total / financialOperationPageSize > 1">
            <pagination [totalItems]="financialOperationsPage.total" [(ngModel)]="financialOperationPageNumber"
                        [boundaryLinks]="true" [maxSize]="5" [itemsPerPage]="financialOperationPageSize"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                        (pageChanged)="selectFinancialOperationsPage()" class="justify-content-center"></pagination>
        </div>
    </div>
</ng-template>

<ng-template #operationsNotFound>
    <app-empty-grid-message message="Финансовые операции не найдены."></app-empty-grid-message>  
</ng-template>
    